[submodule "subprojects/libfunnel"]
	path = subprojects/libfunnel
	url = https://github.com/nymph-ai/libfunnel

[submodule "subprojects/pipewire-static"]
	path = subprojects/pipewire-static
	url = https://github.com/hoshinolina/pipewire-static

[submodule "subprojects/spoutdxtoc/Spout2"]
	path = subprojects/spoutdxtoc/Spout2
	url = https://github.com/leadedge/Spout2
